{% extends 'base.html' %}
{% block content %}

<div class = "col-md-6 offset-md-3">

{% if user.is_authenticated %}

<h1>Hello world!</h1>

{% else %}

<h1>Login</h1>
<br/>
<form method="POST" actions = "{% url 'home %'}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input name="username" placeholder="Username" type="text" class="form-control" aria-describedby="emailHelp" required>
        </div>
        <br/>
        <div class="mb-3">
          <input name= "password" placeholder="Password" type="password" class="form-control" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
</form>


</div>

{% endif% }

{% endblock %}